<!DOCTYPE html>
<html lang="kr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Not Home, Not Office, Everyone needs the Third Place. 집과 회사에서 누릴 수 없는 자유와 평온함, 개성있는 열정과 다양한 공유를 위한 제 3 의 공간으로 초대합니다.">
        <meta name="author" content="">

        <meta name="title" content="The Third Place - We are ready to do everything.">
        <meta name="keywords" content="TTP, The Third Place, 제3의공간">
        <meta name="author" content="parksangdonews@gmail.com">
        <meta name="robots" content="index,nofollow">

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="The Third Place - We are ready to do everything.">
        <meta property="og:url" content="https://parksangdonews.github.io/"/>
        <meta property="og:site_name" content="The Third Place - We are ready to do everything.">
        <meta property="og:description"
              content="Not Home, Not Office, Everyone needs the Third Place. 집과 회사에서 누릴 수 없는 자유와 평온함, 개성있는 열정과 다양한 공유를 위한 제 3 의 공간으로 초대합니다.">
        <meta property="og:image" content="https://parksangdonews.github.io/img/logo.jpg"/>

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="The Third Place - We are ready to do everything.">
        <meta name="twitter:description"
              content="Not Home, Not Office, Everyone needs the Third Place. 집과 회사에서 누릴 수 없는 자유와 평온함, 개성있는 열정과 다양한 공유를 위한 제 3 의 공간으로 초대합니다.">
        <meta name="twitter:image" content="https://parksangdonews.github.io/img/logo.jpg">
        <meta name="twitter:creator" content="@parksangdo">

        <!--<link rel="icon" href="/images/favicon.png">-->


        <title>The Third Place - We are ready to do everything.</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/static/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="/static/static/css/agency.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav th:replace="~{layout/nav :: nav}"></nav>

        <!-- Header -->
        <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To The Third Place!</div>
                    <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                    <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>-->
                </div>
            </div>
        </header>


        <div class="content-wrapper" layout:fragment="content_body">
            레이아웃이 들어갈 자리..
        </div>


        <!-- Footer -->
        <footer th:replace="~{layout/footer :: footer}"></footer>

        <!-- Portfolio Modals -->

        <!-- Modal 1 -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">영화제</h2>
                                    <p class="item-intro text-muted">Design By O</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/01-full.jpg" alt="">
                                    <p>영화제를 기획 중에 있습니다. 영화를 통해 다양한 의미를 공유하는 시간이 될 것으로 생각합니다.</p>
                                    <ul class="list-inline">
                                        <li>Date: spring in 2019</li>
                                        <li>Target : All</li>
                                        <li>Category: Movie</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 2 -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">모의면접 & 취업 세미나</h2>
                                    <p class="item-intro text-muted">Design by 빵형</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/02-full.jpg" alt="">
                                    <p>유투브에서 개발자 취업에 관련된 영상을 꾸준히 업로드 하신 "빵형" 님을 모시고, 개발자가 알아야 할 내용을 바탕으로 취업 세미나를 개최를 할 예정입니다.
                                        아울러, 면접시 합격과 탈락을 결정짓는 실수를 방지하기 위한 모의면접을 경험할 수 있도록 합니다. 일반 면접과 기술 면접을 진행.</p>
                                    <ul class="list-inline">
                                        <li>Date: spring 2019</li>
                                        <li>Target : 구직자, 이직준비자</li>
                                        <li>Category: Job</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 3 -->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">프로그래밍 특강</h2>
                                    <p class="item-intro text-muted">Design by arahansa.s</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/03-full.jpg" alt="">
                                    <p>아라한사님의 코틀린 연재가 끝난 후, 프로그래밍 오프라인 특강이 예정되어 있습니다.</p>
                                    <ul class="list-inline">
                                        <li>Date: May or June, 2019</li>
                                        <li>Target : Programmer</li>
                                        <li>Category: Programming Language</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 4 -->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">웹개발 스터디</h2>
                                    <p class="item-intro text-muted">Design by Ted</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/04-full.jpg" alt="">
                                    <p>현재 리딩을 진행하고 있거나, 앞으로 진행할 웹 개발 스터디를 보완하여 독려하고, 필요한 경우 주말을 활용하여 풀타임 코칭을 계획</p>
                                    <ul class="list-inline">
                                        <li>Date: Full of 2019</li>
                                        <li>Target: Beginner</li>
                                        <li>Category: Programming Language</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 5 -->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">게임 대회</h2>
                                    <p class="item-intro text-muted">Design by Somebody</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/05-full.jpg" alt="">
                                    <p>늘 공부만 하고, 늘 해야 하는 일을 하는 대신, 하루 쯤은 모두가 가볍게 즐기는 게임으로 상품을 걸고 즐거운 시간을 보내는 이벤트를 개최해 본다.</p>
                                    <ul class="list-inline">
                                        <li>Date: a someday, 2019</li>
                                        <li>Target : All</li>
                                        <li>Category: Game</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal 6 -->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">기타(해커톤,음악회,각종레슨..)</h2>
                                    <p class="item-intro text-muted">Design by Somebody</p>
                                    <img class="img-fluid d-block mx-auto" src="/static/static/img/portfolio/06-full.jpg" alt="">
                                    <p>누구든지 이벤트를 계획하고 준비하고 실행한다. 사실상 공간이 존재한다면, 해보고 싶은 것은 정말 많다. 너무나 많다. 무엇을 할 지 모르겠다 싶으면, 무언가
                                        배우고 싶은 것이 있는 외부인을 초청하여 특강을 부탁해도 된다. 단, 부탁인데 안에서 축구 공차고 야구 공던지는 일만 없으면 된다. 현재까지 거론된 이벤트 :
                                        음악회, 기타 레슨, 올나잇 해커톤</p>
                                    <ul class="list-inline">
                                        <li>Date: All of 2019</li>
                                        <li>Target : All</li>
                                        <li>Category: All</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="/static/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/static/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript -->
        <script src="/static/static/js/jqBootstrapValidation.js"></script>
        <script src="/static/static/js/contact_me.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/static/static/js/agency.min.js"></script>

    </body>

</html>
